{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}xls_import{% endblock %}

{% block body %}

    <h1>Importing Spreadsheet</h1>
    <div id="import-info">
        {% include "xlsimport/_progress.html" %}
    </div>
    <script type="application/javascript">
        var timer = -1;
        $(function() {
                console.log("running func", $("#import-progress").data("state"));
            timer = setInterval(function() {
                $("#import-info").load(window.location.href, function() {
                    console.log("loaded", $(".bar").get(0).style.width);
                    if ($.inArray($("#import-progress").data("state"), [
                            "PENDING", "PROGRESS"]) == -1) {
                        console.log("Cancelling timer");
                        clearInterval(timer);
                    }
                });
            }, 200);
        });
    </script>
{% endblock %}
